# gitignore
input/hosp_prob_ts_n5000.csv
input/hosp_prob_ts_n5000_pooled.csv
input/incidence_lmic_ts_n5000.csv
input/incidence_nokes2008.csv
input/incidence_nokes2009.csv
input/nokes2008_table.png
input/popul_under5_132806.xls
input/natural_earth_data
input/shi_et_al2017
input/nyiro2018
input/shi_et_al2017
input/nokes2008_table.png
input/popul_under5_132806.xls
input/WPP2019_FERT_F01_BIRTHS_BOTH_SEXES.xlsx
input/WPP2019_FERT_F03_CRUDE_BIRTH_RATE.xlsx
input/cfr_mat.csv
input/hosp_prob_mat.csv
input/kenya_rsv_rate.csv
input/RSV_burden_Shi_2017_tidy.csv
input/stillbirth_rate_data.csv
output/*.png
