# gitignore
input/hosp_prob_ts_n5000.csv
input/hosp_prob_ts_n5000_pooled.csv
input/incidence_lmic_ts_n5000.csv
input/incidence_nokes2008.csv
input/incidence_nokes2009.csv
input/nokes2008_table.png
input/popul_under5_132806.xls
input/nyiro2018/
input/shi_et_al2017/
input/nokes2008_table.png
input/popul_under5_132806.xls
input/WPP2019_FERT_F01_BIRTHS_BOTH_SEXES.xlsx
input/WPP2019_FERT_F03_CRUDE_BIRTH_RATE.xlsx
input/cfr_mat.csv
input/hosp_prob_mat.csv
input/kenya_rsv_rate.csv
input/RSV_burden_Shi_2017_tidy.csv
input/stillbirth_rate_data.csv
output/*.png
output/sub_sah_afr_proj/s_afr_age_distrib/
output/sub_sah_afr_proj/kenya_age_distrib/
output/*RSV_gavi*
# output/*/*.png
output/ari_sari_burden/s_afr_ARI_using_kenya_ratio/
output/ari_sari_burden/ARI_minus_SARI/
output/sub_sah_afr_proj/
output/sample_paths_test/
*RData
*Rhistory
mcmarcel_splines/
output/cea_plots/0ld/
refresh_gitignore.sh
